#header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#after-header {
  margin-top: 10%;
}

#after-header .row {
 height: 81vh;
}

#first-col {
    background: blue;
}

#second-col{
  background: red;
}

 h2 {
    text-align: center;
    margin-top: 10%;
}

#about-UP p {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}